
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Quicksand:wght@300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding:0;
    margin: 0;
}

.background-image {
    
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.dark-mode .background-image {
    background-image: url('../images/background-desafio-dark.jpg');
}

.light-mode .background-image {
    background-image: url('../images/background-desafio-light.jpg');
}

.screen-edge-top {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;    
    font-weight: bold;

}

/* TESTE SLIDER */

.switch-container {
  display: flex;
  position: relative;
  padding: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.font-switch {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  /* color: white; */
  margin: 10px;
}

.dark-mode .font-switch {
  color: white;
}   

.light-mode .font-switch {
  color: black;
}

.slider-orange {
  position: absolute;
  cursor: pointer;
  width: 56px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #FEAB6D; */
  background-color: rgba(102, 202, 149, 1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-orange:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  /* background-color: white; */
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-mode .slider-orange:before {
  background-color: white;
}

.light-mode .slider-orange:before {
  background-color: black;
}

input:checked + .slider-orange {
    background-color: rgba(246, 103, 33, 1);
}

input:focus + .slider-orange {
  box-shadow: 0 0 1px #FC7307;
}

input:checked + .slider-orange:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-orange.round {
  border-radius: 34px;
}

.slider-orange.round:before {
  border-radius: 50%;
}

/* FIM TESTE SLIDER */

.dark-mode .screen-edge-top {
    background-color: rgba(0, 0, 0, 0.9);
}

.light-mode .screen-edge-top {
    background-color: rgba(255, 255, 255, 0.9);
}

.screen-edge-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.dark-mode .screen-edge-bottom {
    background-color: rgba(0, 0, 0, 0.9);
}

.light-mode .screen-edge-bottom {
    background-color: rgba(255, 255, 255, 0.9);
}

.content-frame {
    position: relative;
    display: flex;
    width: 90vw;
    max-width: 75%;
    min-width: 700px;
    height: 80vh;
    max-height: 800px;
    margin: auto auto 40px auto; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: visible;
    box-sizing: border-box;
}

.dark-mode .content-frame {
    border-top: 60px solid black; 
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px) saturate(160%);
    color: black;    
}

.light-mode .content-frame {
    border-top: 60px solid white; 
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px) saturate(160%);
    color: black;
}

.font-name {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal; 
    text-decoration: none;
    /* color: white; */
    font-size: 1.8em;
}

.dark-mode .font-name {
    color: white;
}

.light-mode .font-name {
    color: black;
}

.font-links {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 1em;
    
}

.dark-mode .font-links {
    color: white;
}

.light-mode .font-links {
    color: black;
}

.border-top-text {
    position: absolute;
    top: -48px; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
}

.top-nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

.top-nav a:hover {
    color: rgba(69, 65, 62, 0.4);
}

.content {    
    overflow: auto;
    width: 100%;
    height: 100%;
    background: transparent;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    padding-right: 20px;
    font-family: 'Red Hat Text', serif;
    font-weight: 400; 
    font-size: 1.1em;
    text-align: justify;
}

.dark-mode .content {
    color: white;
}

.light-mode .content {
    color: black;
}

.content-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.dark-mode.content-title{
    color: white; 
}

.light-mode.content-title{
    color: black;
}

.index-picture-1 {
    float: right;
    width: 35%;
    height: auto;
    /* padding-left: 0px; */
    border-radius: 5px;
    display: block;
    margin-left: 20px;
}
.dark-mode .index-picture-1 {
    border: 2px solid white;
}
.light-mode .index-picture-1 {
    border: 2px solid black;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;

  transition: background 0.8s ease;
}

.light-mode .accordion-header {
    background: #f9f9f9;
    color: solid black;
}

.dark-mode .accordion-header {
  background: rgba(31, 31, 30, 0.8);
  color: solid white;
}

.accordion-header:hover {
  background:rgba(102, 102, 98);
}

.nome-profissional {
  font-weight: bold;
  color: #333;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  color: #666;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #fff;
  padding: 0 1rem;
}

.accordion-info {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  align-items: flex-start;
}

.accordion-info img {
  width: auto;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}

.accordion-item.active .accordion-content {
  max-height: 500px; /* Ajustar conforme qtde de texto */
}

.accordion-item.active .arrow {
  transform: rotate(180deg);
}

/* Estilos Específicos da Página Serviços */

.layout-servicos {
  display: grid; 
  grid-template-columns: 1f; 
  max-width: 400px;
  gap: 20px;  
  margin: 0 auto;
}
.quadro-servicos {
  display: grid;
  border: 1px solid;
  padding: 20px; 
  border-radius: 10px;
}

.light-mode .quadro-servicos  {
  border-color: solid black;
}

.dark-mode .quadro-servicos {
  border-color: solid white;
}

.image-servicos {  
  width: 100%;
  max-width: 180px;
  margin: 12px auto; 
}